<div class="profile-container">
<div class="profile-nav-div">
  <a class="profile-close" href='javascript:history.go(-1)'>
<img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="close button" />
</a>
</div>

  <div class="profile-title">Profile</div>
  
  <div class="profile-main">  
  <div class="user-profile">
    <div class="profile-avatar-container">
     
    </div>

  <div class="profile-body" >
    <table> 
  <tbody class="profile-contacts">
      <tr>
       <th class="profile-name">Name</th>
        <td class="profile-info">Alexia Panameno</td>
      </tr>
      <tr>
       <th class="profile-name">Username</th>  
        <td class="profile-info"> rogueale</td>
      </tr>
      <tr>
       <th class="profile-name">Password</th>  
        <td class="profile-info">......</td> 
      </tr>
      <tr>
       <th class="profile-name">Email</th>  
        <td class="profile-info">alexiar@arcadia.com</td> 
      </tr>
      <tr>
        <th class="profile-name">Gender</th> 
        <td class="profile-info">Female</td> 
      </tr> 
      <tr>
        <th class="profile-name">Date of Birth</th>  
        <td class="profile-info">July 15, 1989</td>
      </tr>
      <tr>
        <th class="profile-name">Treatment</th>  
        <td class="profile-info">IVF</td>
      </tr>  
  </tbody>
</table> 
</div>
  
  <div class="profile-btns">
  <button class="profile-edit">Edit</button>
  <button class="profile-done">Done</button>
  </div>

  </div> 
  </div> 

    
    
