<h1>User Prescriptions Page</h1>
<div>
  <h4>Search and Add a Prescriptions</h4>
  <%= react_component("PrescriptionForm") %>
</div>
<div>
  <h4>Users Prescription List</h4>
  <%= react_component("PrescriptionList") %>

