<%# #=============================================
#DO NOT DELETE THIS FILE
#Save as reference for future functionality
#============================================= %>

<h1>User Sign Up Survey</h1>
<%= react_component "SignUpForm" %>
