
<header class="journal-header">
  <div class="journal-placeholder">
  </div>
  <nav class="journal-nav-two">
    <div class="journal-nav-buttons">
      <div id="journal-nav-button1">
        <a href="../journals"><img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/chevron-back.svg" alt="Back" height="44" width="44" id="journal-nav-back"></a>
      </div>
      <div id="journal-nav-button2">
        <h1>Journal</h1>
      </div>
      <div id="journal-nav-button3">
        <a href='javascript:history.go(-2)'>
        <img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="Back" height="44" width="44" id="journal-nav-close">
        </a>
      </div>
    </div>
  <nav>
</header>
