<style>
  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    margin-top: 18px;
  }
</style>

<a href='/' class='close-button'>
  <img  src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" 
        alt="close button">
</a>