/* This is for everything that shows up at the top of the page. */

.journal-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.journal-placeholder {
  background-color: #FFEFDC ;
  height: 24px;
  width: 100vw2;
  box-sizing: border-box;
}

.journal-nav {
  font-family: Srimo, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.journal-nav-two {
  font-family:Srimo, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.journal-nav-buttons {
  display: flex;
  height: 44px;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid #E8E3DC;
  box-shadow: 0px 0px 4px 0px #E8E3DC;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

#journal-nav-button1 {
  margin: 0;
}

#journal-nav-back {
  margin: 5px 0px 0 0;
}

#journal-nav-button2 {
  margin: 0 auto;
  padding-right: 15px;
}

#journal-nav-button3 {
 margin: 5px 5px 0 0;
 padding: 10px;
}

#trash-icon {
  color: rgb(132,75,142);
  font-weight: 700;
  font-size: 24px;
}

/* This is for returning the smaller render of an entry. */

.journal-entry-container {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  height: 96px;
  border-bottom: 2px solid #E8E3DC;
  box-shadow: 0px 0px 4px 0px #E8E3DC;
}

.journal-entry-info {
  padding: 10px;
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 25%;

}

.journal-entry-info div {
  flex: 1;
  margin: 0px;
  flex-direction: row;
  flex-basis: 20px;
  display:flex;
}

.info-box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.journal-entry-description {
  padding: 10px 20px 10px 10px;
  flex: 2;
  flex-wrap: wrap;
  flex-basis: 66.6%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info-box:nth-child(1) {
  flex: 1;
  font-family: Srimo, sans-serif;
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
}


.info-box:nth-child(2) {
  flex: 1;
  color: rgb(132,75,142);
  font-family: Srimo, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.info-box:nth-child(3) {
  flex: 1;
  color: rgb(132,75,142);
  font-family: Srimo, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  justify-content: space-evenly;
}

/* This is for making a new entry. */

.entry-container {
  box-sizing: border-box;
  padding: 19px;
  display:flex;
  flex-direction: column;
  min-height: 560px;
}

.entry-item {
  justify-content: center;
}

.entry-item.info-box:nth-child(2) {
  min-height: 550px;
}

.entry-title{
  outline: none;
  border: none;
  font-family: Srimo;
  margin-left:auto;
  margin-right:auto;
  min-width: 340px;
  background: #FFF8F0;
  text-shadow: 1px 1px 1px #FFF;
  font-size: 18px;
  color: rgba(132,75,143,0.55);
  letter-spacing: 1px;
 }

 .entry-description {
  outline: none;
  font-size: 16px;
  font-family: Srimo;
  border: none;
  margin-left:auto;
  margin-right:auto;
  min-width: 100%;
  min-height: 410px;
  background: #FFF8F0;
  color: rgba(132,75,143,0.55);
  letter-spacing: 1px;
 }

 .entry-submit {
   width: 100%;
   border: 0;
   color: rgba(132,75,143,0.80);
   background-color: #FFF5E9;
   opacity: 25%;
 }

 .add-picture-div {
  padding: 2px;
  margin: 0px;
  height: 75px;
  border-top: 1px solid #979797;
  box-shadow: inset 0px 3px 0 0 #D8D8D8;
  bottom: 0px;
 }